<div class="safeloader" ng-if="isAjaxLoadingMaster || isAjaxLoadingChild">
    <div id="preloader_2">
        <div class="load-1">
            <div class="load-2">
                <div class="load-3"></div>
            </div>
        </div>        
    </div>
</div>
