<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px;">
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="padding: 20px;">
                <p>Hello <b>{{Interviewer}}</b>,</p>
                <p>
                    We have scheduled the below interview for the <b>{{Position}}</b>. Please find below details and let us know in case of any queries.
                </p><br />
                <p>Candidate Name: <b>{{Applicant}}</b></p>
                <p>Date and Time of Interview: <b>{{DateTime}}</b></p>
                <p>Mode of Interview: <b>{{Mode}}</b></p>
                <p>{{linkLabelvenueLabel}}: <b>{{linkvenue}}</b></p>
                <p>Ref link:(If any): <b></b></p>
                <p>Resume and work portfolio: <b>{{Resume}}</b></p>
                <p>Further, You are required to provide your interview feedback in reply to his email.</p>
                <br />
                <p>Warm Regards,</p>
                <p>
                    <b>John Doe,</b><br />
                    <span><b>Admin</b></span>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>