<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px;">
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="padding: 20px;">
                <p>Hello <b>{{FirstName}}</b>,</p>
                <p>We are glad to inform you that you have been selected for an in-person interview for the role of <b>{{PositionName}}</b> with our company. 
                    Having gone through the preliminary discussion, we would like to invite you to meet us at our office.</p><br />
                <p>Schedule Details:</p>
                <p>Venue Address :<b>{{Venue}}</b></p>
                <p>Contact Person: <b>{{ContactPersonName}}</b></p>
                <p>Interview Duration : <b>1hrs</b></p>
                <p>Do carry a copy of your resume and qualifications, along with a government identity proof for ease of access to our premises.</p>
                <p>Please confirm your availability by responding to this email. For any queries, feel free to call directly on the number provided below.</p>
                <br />
                <p>Warm Regards,</p>
                <p>
                    <b>{{User}},</b><br />
                    <span><b>{{Role}}</b></span>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>