<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px;">
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="padding: 20px;">
                <p>Hello <b>{{FirstName}}</b>,</p>
                <p>
                    Thank you for your application for the position of <b>{{PositionName}}</b>
                        with our company. After going through your resume, we would like to proceed with the interview process through Online Interview.
                </p><br />
                <p>Schedule Details:</p>
                <p>Online Interview Link: <b>{{Link}}</b></p>
                <p>Interviewer Name: <b>{{Interviewer}}</b></p>
                <p>Please confirm your availability by responding to this email. For any queries, feel free to call directly on the number provided below.</p>
                <br />
                <p>Warm Regards,</p>
                <p>
                    <b>{{User}},</b><br />
                    <span><b>{{Role}}</b></span>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>