<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px;">
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="padding: 20px;">
                <p>Hi there,</p>
                <p>
                    <b>{{Applicant}}</b>, who was scheduled for an <b>L{{Level}}</b> interview on <b>{{Date}}</b>, for the <b>{{Position}}</b> position at <b>{{Company}}</b>,
                    has been <b>{{Message}}</b>.<br />
                </p>
                <p>Warm Regards,</p>
                <p>
                    <b>{{User}},</b><br />
                    <span><b>{{Role}}</b></span>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>