<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px;">
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="padding: 20px;">
                <p>Hi there,</p>
                <p>
                    {{Applicant}}, who was scheduled for an L{{Level}} interview on {{Date}}, for the {{Position}} position at {{Company}},
                    has been <b>{{Message}}</b>.<br />
                </p>
                <p>Warm Regards,</p>
                <p>
                    <b>{{User}},</b><br />
                    <span><b>{{Role}}</b></span>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>