<div class="modal-header">
    <button type="button" class="close" ng-click="CancelClick()">
        ×</button>
    <h4 class="modal-title" id="custom-width-modalLabel">
        {{Message.Header}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            {{Message.Text}}
        </div>
    </div>
</div>
