@{
    ViewBag.Title = MVCProject.Common.Resources.Resource.Dashboard;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .has-events {
        background-color: #8fdf82;
    }
</style>

<div ng-controller="DashboardCtrl">
    <div class="main-page-title title-icon relative l mb-3">
        <i class="fa fa-calendar-check-o icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@MVCProject.Common.Resources.Resource.Dashboard</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" class="bg-light p-3" calendar="myCalendar"></div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-primary">
                <h2 style="margin-top:0px">Meeting:</h2>
                <div ng-show="SelectedEvents != null" ng-repeat="SelectedEvent in SelectedEvents"><br />
                    <span>{{SelectedEvent.start | date : 'h:mma'}}-{{SelectedEvent.end | date : 'h:mma'}}</span><br />
                    <span>Meeting with {{SelectedEvent.Applicant}}</span><br />
                    <span><i class="fa fa-user"></i> {{SelectedEvent.Interviewer}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/Dashboard/Dashboard")
}