@{
    ViewBag.Title = MVCProject.Common.Resources.Resource.Dashboard;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .has-events {
        background-color: #8fdf82;
        opacity: 0.3;
    }
</style>

<div ng-controller="DashboardCtrl">
    <div class="main-page-title title-icon relative l mb-3">
        <i class="fa fa-calendar-check-o icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@MVCProject.Common.Resources.Resource.Dashboard</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" class="bg-light p-3" calendar="myCalendar"></div>
        </div>
        <div class="col-md-4">
            <div class="schedule-event-details">
                <div class="card alert overflow-auto">
                    <h2 class="mt-0 fw-normal meeting-title" ng-class="{'ms-0' : length == 0}"> @Resource.Meeting</h2>
                    <p ng-show="length == 0">No Meetings Scheduled</p>
                    <div ng-show="length != 0" ng-repeat="SelectedEvent in SelectedEvents">
                        <div class="card event-card">
                            <div class="card-body">
                                <p class="mb-2"><span><i class="time-icon fa fa-clock-o"></i></span><span class="event-detail">{{SelectedEvent.start | date : 'd/M/yy h:mm a'}} - {{SelectedEvent.end | date : 'd/M/yy h:mm a'}}</span></p>
                                <p class="mb-2"><span><i class="interview-icon fa fa-user"></i></span><span class="event-detail">Meeting with <span class="fw-bold">{{SelectedEvent.Applicant}}</span></span></p>
                                <p class="mb-0"><span class="event-detail"><i class="meeting-icon ti-agenda"></i> {{SelectedEvent.Interviewer}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/Dashboard/Dashboard")
}