@{
    ViewBag.Title = MVCProject.Common.Resources.Resource.Dashboard;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .has-events {
        background-color: #8fdf82;
    }

    .height {
        max-height: 74vh;
    }
</style>

<div ng-controller="DashboardCtrl">
    <div class="main-container">
        <div class="row mt-5">
            <div class="col-lg-3 ">
                <div class="card dashboard-card-1">
                    <a href="#" class="card-content">
                        <div class="card-bg"></div>
                        <div class="row">
                            <div class="col-lg-3 dashboard-item-icon">
                                <div class="icon-div">
                                    <img src="~/Content/images/meetings-icon.svg" class="dashboard-icon" />
                                </div>              
                            </div>
                            <div class="col-lg-9 text-center">
                                <p class="info-number"> 15</p>
                                <div class="dashboard-card-title">
                                    Total Meetings
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card dashboard-card-2">
                    <a href="#" class="card-content">
                        <div class="card-bg"></div>
                        <div class="row">
                            <div class="col-lg-3 dashboard-item-icon">
                                <div class="icon-div">
                                <img src="~/Content/images/openings-icon.svg" class="dashboard-icon" />
                                </div>
                            </div>
                            <div class="col-lg-9 text-center">
                                <p class="info-number"> 15</p>
                                <div class="dashboard-card-title">
                                    Total Openings
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card dashboard-card-3">
                    <a href="#" class="card-content">
                        <div class="card-bg"></div>
                        <div class="row">
                            <div class="col-lg-3 dashboard-item-icon">
                                <div class="icon-div">
                                <img src="~/Content/images/applications.svg" class="dashboard-icon" />
                                </div>
                            </div>
                            <div class="col-lg-9 text-center">
                                <p class="info-number"> 15</p>
                                <div class="dashboard-card-title">
                                    Total Applications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card dashboard-card-4">
                    <a href="#" class="card-content">
                        <div class="card-bg"></div>
                        <div class="row">
                            <div class="col-lg-3 dashboard-item-icon">
                                <div class="icon-div">
                                <img src="~/Content/images/hired.svg" class="dashboard-icon" />
                                </div>
                            </div>
                            <div class="col-lg-9 text-center">
                                <p class="info-number"> 15</p>
                                <div class="dashboard-card-title">
                                    Total Hired
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/Dashboard/Dashboard")
}